body {
  background: #083b66;
}

header {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0;
    margin: 0;
    text-align: center;
    background: radial-gradient(#083b66, #fff, #aba104);
}

h1 {
    display: inline-block;
    padding: 20px;
    font-size: 4em;
    /* color: #fff; */
    color: #383f73;
}

. emblem {
    overflow: hidden;
    border: 2px #000;
    border-radius: 50%;
    width: 270px;
    height: 200px;
    margin-top: 40px;
}

 nav {
    list-style-type: none;
    text-align: center;
    cursor: pointer;
} 

li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

li:hover {
    background-color: #5AAA95;
    color: #083b66;
}
a {
    text-underline: none;
}

/* About page (ryan) */

div.navbar {

background-color: #5c5a53;

border: 5px solid #aba104;

}

div.navbar a {
	display: inline-block;
	color: white;
	text-align: center;
	text-decoration: none;
}

div.navbar a:hover {
	background-color: #777;
}

h2 {
	display: inline-block;
	margin-left: 200px;
	color: #aba104;
}

p {
	color:#aba104;
}

.about {
	font-size: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
}



@media only screen and (max-width: 600px){
    .emblem {
        display: none;
    }
    header {
        background-image: url(.. /images/emblem.png);
        
    }

   .about {
     display: block;
    } 
}
